.container{
    margin: 0px;
    margin: auto;
    width: 80%;
    box-sizing: border-box;
}
.container::after{
    content:"";
    clear: both;
    display: table;
}
.sez1{
    height: 300px;
    background-color:khaki;
    margin:20px 0px;
}

.sez2{
    height: 500px;
    background-color:royalblue;
}
.head_sez2,.block1,.block2,.block3{
    background-color: skyblue;
}
.head_sez2{
    height: 20%;
    box-sizing: border-box;
}
.block1,.block2,.block3{
    height: 60%;
    float: left;
    margin: 10% 0%;
}
.block1,.block3{
    width: 30%;
}
.block2{
    width: 30%;
    margin: 0% 5%;

}

header{
    height: 80px;
    background-color:hotpink;
}
footer{
    height: 50px;
    background-color: purple;
    margin-top: 10px;

}


