.container{
    margin: 0px;
    margin: auto;
    width: 80%;
    box-sizing: border-box;
}
.container::after{
    content:"";
    clear: both;
    display: table;
}
.sez1{
    height: 300px;
    background-color:khaki;
    margin:20px 0px;
}
.sez2{
    height: 500px;
    background-color:royalblue;
}
.head_sez2{
    height: 70px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: skyblue;
}


header{
    height: 80px;
    background-color:hotpink;
}
footer{
    height: 50px;
    background-color: purple;
    margin-top: 10px;

}


